*{
    margin:auto 0;
    padding:0%;
    box-sizing: border-box;
}
.title{
    text-align: center;
    background-color: black;
    color:#ffff;
    margin:0;
}
.container{
   text-align: center;    
}
.bar-search{
    margin: 20px;
    padding: 10px;
    width: 275px;
    height: 39px;
}
.button-search{
    margin:10px;
    padding:10px;
}
.containerbody{
    text-align: center;
}

.link-github{
    background-color: black;
    color:#ffff;
    display: flex;
    justify-content: center;
    height: 8vh;
    margin:0;
    font-size: 15px;
}
